<ion-header>
  <ion-toolbar>
    <ion-title center>settingMenu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label position="stacked">Device ID</ion-label>
  <ion-input type="text" [(ngModel)]="dataForm.deviceId"></ion-input>
      <ion-button (click)="setDeviceId()">Set DeviceId</ion-button>

      <ion-button (click)="activeBluetooth()"><ion-icon slot="end" name="bluetooth-outline"></ion-icon>Search</ion-button>
      <div *ngFor="let data of Devices">
        <p>{{data.name}}</p>
        <p>{{data.id}}</p>
        <button (click)="connect(data.address)">Connect</button>
      </div>
   
</ion-content>

<ion-footer>
  <ion-toolbar>
    
  </ion-toolbar>
  </ion-footer>