.sqare_button {
  margin-top: 80px;
  width : 150px;
  height: 150px;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
  --ripple-color: darkcyan;
  --padding-bottom: 2px !important;
  --box-shadow: none;
  white-space: normal;
  word-wrap: break-word;
}
.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}