<ion-grid>
  <ion-col>
      <ion-button fill="solid" size="large" class="sqare_button" (click)="drinkwater()" >
          <div class="vertical">
          <ion-icon slot="start" name="battery-charging-sharp"></ion-icon>
          <span class="">Drink Water</span>
          </div>
      </ion-button>
  </ion-col>
  <ion-col>
      <ion-button fill="solid" size="large" class="sqare_button"(click)="studentneeds()">
          <div class="vertical">
            <ion-icon slot="start"name="search-outline"></ion-icon>
            <span class="">Find Suitable Dispenser</span>
          </div>
      </ion-button>
  </ion-col>
  
  </ion-grid>