<ion-header>
</ion-header>
<ion-content>
  <ion-col>
    <ion-button fill="solid" size="large" class="sqare_button" (click)="drinkwater()" >
        <div class="vertical">
        <ion-icon slot="start" name="card"></ion-icon>
        <span class="">Drink water</span>
        </div>
    </ion-button>
</ion-col>
<ion-col>
    <ion-button fill="solid" size="large" class="sqare_button"(click)="studentneeds()" >
        <div class="vertical">
          <ion-icon slot="start" name="search-outline"></ion-icon>
          <span class="">Find suitable dispenser</span>
        </div>
    </ion-button>
</ion-col>
</ion-content>
