<ion-grid>
<ion-col>
    <ion-button fill="solid" size="large" class="sqare_button" (click)="loginWithCard()" >
        <div class="vertical">
        <ion-icon slot="start" name="card"></ion-icon>
        <span class="fontStyle">Student have card</span>
        </div>
    </ion-button>
</ion-col>
<ion-col>
    <ion-button fill="solid" size="large" class="sqare_button" >
        <div class="vertical">
          <ion-icon slot="start" name="key-outline"></ion-icon>
          <span class="fontStyle">Student no card</span>
        </div>
    </ion-button>
</ion-col>
<ion-col>
    <ion-button fill="solid" size="large" class="sqare_button">
        <div class="vertical">
          <ion-icon slot="start"name="people-circle-outline"></ion-icon>
          <span class="fontStyle">Guest</span>
        </div>
    </ion-button>
</ion-col>

</ion-grid>